
/* ################################
				ROOT
################################### */
body{
	margin: 0 auto;
	padding: 0;
}

/* ################################
			CONTEINER
################################### */

.conteiner{
	margin: 0 auto;	
	width: 100%;
	display: table;
}

/* ################################
		CABEÇALHO E LOGO
################################### */
.header{
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	width: 1024px;
	height: 225px;
}

.header img{
	margin: 0px 384px 0px 384px;
	border: 0px;
	width: 240px;
	height: 186px;
	
}

/* ################################
			SLIDE
################################### */

.slideConteiner{
	width: 100%;
	background-image: url("../imagens/bgSlideConteiner.jpg");
}

.slideConteiner #slideBox{
	width: 1024px;
	height: 300px;
	margin: 0 auto;
}

.slideConteiner #slideBox #sLeft{
	width: 25px;
	height: 300px;
	float: left;
	background-image: url("../imagens/bgSLeft.jpg");
}

.slideConteiner #slideBox #slide{
	width: 964px;
	height: 290px;
	margin: 0 auto;
	float: left;
	background-color: #ffffff;
	border: solid 5px #282828; 
}

.slideConteiner #slideBox #sRigth{
	width: 25px;
	height: 300px;
	float: left;
	background-image: url("../imagens/bgSRight.jpg");
}

/* ################################
				MENU
################################### */
.menuBar{
	width: 1024px;
	height: 30px;
	margin: 0 auto;
	background-color: #282828;
	text-align: center;
}

.menuBar a{
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Calibri;
	padding: 0px 30px 0px 30px;
}

.menuBar a:hover{
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 14px;
	font-family: Arial, Calibri;
	padding: 0px 30px 0px 30px;
}



/* ################################
		CORPO DO SITE
################################### */
.corpo{
	width: 1024px;
	height: 550px;
	margin: 0 auto;
	box-shadow: 0px 5px 10px #ccc;
	border: solid 1px #ccc;
}

.corpo #conteudo{
	padding: 20px;
}

.corpo #conteudo #boxLeftContato{
	float: left;

}

.corpo #conteudo #boxRigthContato{
	float: right;
}

#speedNav{
	text-align: right;
	clear: both;
	padding: 20px 20px 10px 0px;
}

#speedNav a{
	text-decoration: none;
	color: #282828;
	font-style: italic;

}

/* ################################
			RODAPÉ
################################### */
.rodape{
	width: 1024px;
	height: auto;
	background-color: #282828;
	margin: 0 auto;
	border: solid 1px #282828;
	display: table;
	color: #fff;
}

.rodape hr{
	width: 900px;
	color: #fff;
	margin-top: 25px;
}

.rodape p {
	text-align: center;
	font-size: 14px;
}

.rodape a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.rodape h5{
	color: #fff;	
}

.rodape #boxLink1{
	float: left;
	display: table;
	margin: 0px 60px 0px 10px;

}

.rodape #boxLink2{
	display: table;
	margin: 0px 200px 0px 10px;
		float: left;

}

.rodape #boxLink3{
	font-size: 14px;
	display: table;
	margin: 0px 30px 0px 0px;
}
/* ################################
			TEXTOS
################################### */


.paragrafos{
	text-align: justify;
	text-indent: 20px;
}